html, body{
    display: flex;
    margin: 0;
    justify-content: center;
    align-items: center;
}

.main{
    width: 375px;
    height: 812px;    
    /*min-width: 375px;
    min-height: 812px;*/
    background-color: #FDF3CD;
}