

.page6-4 {
    width: 375px;
    height: 812px;   
    background-color: #FDF3CD;

    display: none;
    

    flex-direction: column;


    display: flex;
    flex-direction: column; 
    display: none;
}

.page6-4 .container6-4{
    justify-content: center;
    align-items: center;

}

.page6-4 p {
    font-weight: bold;
    color: white;
    font-size: 60px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    position: relative;
    z-index: 1;
    top:265px;
    right: -115px;
}
.page6-4 .piechart {
    position: relative;
    top:-200px;
}

.page6-4 .top-pie {
    width: 600px;
    position: relative;
    top: -996px;
    right: 70px;

    animation-delay: 1s;
    animation: pulse 5s;

}

@keyframes pulse {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }

.page6-4 .bot-pie {
    width: 600px;
    position: relative;
    bottom: 150px;
    right: 80px;

    
}

.page6-4 .percent {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    top: -1650px;
}

.page6-4 .images {
    position: relative;
    bottom:-1000;
}

.page6-4 .road{
    position: relative;
    top: -1260px;
}

.page6-4 .truck{
    position: relative;
    width: 150px;
    top: -1430px;
    right: -40px;
    z-index: 1;
    animation:drive 2s linear;
}


@keyframes drive{
    0%{
    transform: translateX(-220px);
    }
}

.page6-4 .trash {
    width:140px;
    position: relative;
    bottom: 1477px;
    right: -235px;
    z-index: 1;
}

.page6-4 .back{
    position: relative;

    bottom: 725px;
    right: -10px;
}

.page6-4 .next{
    position: relative;
    bottom: 765px;
    right: -270px;
}



.page6-4 .images {
    position: relative;
    bottom: -30px;
}


  @keyframes shrink {
    0% {
      width: 90%;
      margin: 0 5%;
    }
    50% {
      width: 60%;
      margin: 0 18%;
    }
    100% {
      width: 90%;
      margin: 0 5%;
    }
  }