.page4{
    width: 375px;
    height: 812px;    
    background-color: #FDF3CD;
    display: none;
}

.page4 .container4{
    justify-content: center;
    align-items: center;
}

.page4 .headerpage4 {
    margin-top: 10px;
}

.page3 .buttons-p3{
    width: 170%;
    display: flex;
    justify-content: space-evenly;
    
    margin-top: 300px;
}