.page4{
    width: 375px;
    height: 1400px;    
    background-color: #FDF3CD;
    display: none;
}

.page4 .container4{
    justify-content: center;
    align-items: center;
}

.page4 .subheader4 {
    margin-top: 50px;
}

.page4 .section1{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    width: 365px;
    height: 400px;
 
    margin-top: 100px;
    left: 50%;
}

.page4 .textBubblePage4-1{
    margin-top: 10px;
}

.page4 .section2{
    width: 365px;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.page4 .garbage-icon{
    width: 40%;
    height: 40%;

    position: relative;
    left: 100px;
}

.page4 .buttons-p4{
    width: 170%;
    display: flex;
    justify-content: space-evenly;

}