.page4{
    width: 375px;
    height: 1350px;    
    background-color: #FDF3CD;
    display: none;
}

.page4 .container4{
    justify-content: center;
    align-items: center;
    margin:10px;
    margin-top:40px;
}

.page4 .subheader4 {
    position: relative;
    margin-top: 90px;
    margin-left: 10px;
}

.page4 .section1{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    width: 365px;
    height: 400px;
 
    margin-top: 50px;
    left: 50%;
}

.page4 .heart{
    width: 30%;
    height: 30%;

    position: relative;
    z-index: 1;
    margin-top: -125px;
}

.page4 .broccoli{
    z-index: 1;
    position: relative;
    right: 60px;
    top: 30px;
}

.page4 .textBubblePage4-1{
    margin-top: 10px;
}

.page4 .section2{
    width: 365px;

    margin-top: 50px;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.page4 .social-icon{
    width: 40%;
    height: 50%;
}

.page4 .garbage-icon{
    width: 40%;
    height: 40%;

    position: relative;
    left: 100px;
    margin-top:-60px;
}

.page4 .textBubblePage4-2{
    margin-top: -10px;
}

.page4 .click{
    margin-left: 25px;
    top: 20px;
    position: relative;

    background-color: #FE9179;
    height: 18px;
    width: 110px;

    padding: 10px;
    padding-left: 20px;

    border-radius: 10px;
}

.page4 .section3{
    margin-top: 100px;
    font-family: sans-serif;
    color: white;
    text-shadow: 2px 2px 0px #7A5151;
    
}

.page4 .gas{
    position: relative;
    top: 0px;
    width: 40%;
}

.page4 .buttons-p4{
    width: 170%;
    position: relative;
    top: 40px;
    left: -130px;

    display: flex;
    justify-content: space-evenly;
}