.page4-2{
    width: 375px;
    height: 812px;   
    background-color: #FDF3CD;
}

.page4-2 .container4-2{
    justify-content: center;
    align-items: center;
}

.page4-2 .fact-text{
    left: -11.06%;
    right: -35.09%;
    top: -10.19%;
    bottom: -17.08%;
    
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 23px;
    text-align: center;
    color: #807C78;
}

.page4-2 .big-smoke{
    width: 326.05px;
    height: 271.54px;
    left: 47px;
    top: 144px;
}

.page4-2 .gas-pic{
    position: relative;
    width: 172px;
    height: 100px;
    left: 15px;
    top: 481px;
    text-shadow: 0,6,5,0;
}

.page4-2 .buttons-p4-2{
    width: 170%;
    display: flex;
    justify-content: space-evenly;

}