html, body{
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.page2-2 {
    width: 375px;
    height: 812px;
    background-color: #FDF3CD; 
    display:none;
}

.page2-2 .container{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.page2-2  .lid{
    position: relative;
    top: 20px;
    padding-left: 100px;
    transform: rotate(20deg);
}

.page2-2 .textbubble-1{
    position: relative;
    z-index: 1;
    left: 10px;
}

.page2-2 .textbubble-2{
    width: 500px;    
    position: relative;
    top: 10px;
    left: 100px;
    z-index: 2;
}

.page2-2 .banana{
    position: relative;
    z-index: 2;
    transform: rotate(40deg);

    left: 240px;
    top: -190px;
}

.page2-2 .apple{
    position: relative;
    z-index: 2;
    transform: rotate(-40deg);

    top: -120px;
    right: 90px;
}

.page2-2 .can{
    position: relative;
    padding-left: 85px;
    margin-top: -100px;
}

.page2-2  .buttons-p2{
    width: 145%;
    display: flex;
    justify-content: space-evenly;
    position: relative;

    margin-top: 40px;
    margin-left: -175px;
}

