.page2 {
    width: 375px;
    height: 812px;
    background-color: #FDF3CD; 
    display:none;
}

.page2 .lid{
    padding-left: 50px;
    padding-top: 300px;

}

.page2 .can{
    padding-left: 75px;
}