html, body{
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.page2-2 {
    width: 375px;
    height: 812px;
    background-color: #FDF3CD; 
    display:none;
}

.page2-2 .container{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.page2-2  .lid{
    padding-left: 100px;
    transform: rotate(20deg);
}

.page2-2 .textbubble-1{
    position: relative;
    z-index: 1;
    left: 10px;
}

.page2-2 .textbubble-2{
    width: 375px;
    left: 20px;
    position: relative;
}

.page2-2 .banana{
    position: relative;
    z-index: 1;
    transform: rotate(50deg);

    left: 250px;
    top: -170px;
}

.page2-2 .apple{
    position: relative;
    z-index: 1;
    transform: rotate(-40deg);

    top: -120px;
    right: 60px;
}

.page2-2 .can{
    position: relative;
    padding-left: 85px;
    margin-top: -100px;
}

.page2-2  .buttons-p2{
    width: 180%;
    display: flex;
    justify-content: space-evenly;
    position: relative;

    margin-top: 60px;
    margin-right: 150px;
    margin-left: -150px;
}

