html, body{
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.page2-2 {
    width: 375px;
    height: 812px;
    background-color: #FDF3CD; 
    display:none;
    overflow: hidden;
}

.page2-2 .container{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.page2-2  .lid{
    position: relative;
    top: 20px;
    padding-left: 100px;
    transform: rotate(20deg);
    z-index:2;

    animation-name: moveside;
    animation-duration: 3s;
    animation-delay: 0s;
}

@keyframes moveside{
    from {top: 200px;}
    50%  {top: 200px !important;}
    to   {top: 0px;}
}

.page2-2 .textbubble-1{
    position: relative;
    z-index: 1;
    left: 10px;

    animation-name: moveleft2;
    animation-delay: 0s;
    animation-duration: 3s;
}

@keyframes moveleft2{
    from{left: -200px;}
}

.page2-2 .textbubble-2{
    width: 500px;    
    position: relative;
    top: 10px;
    left: 100px;
    z-index: 2;

    animation-name: moveright2;
    animation-delay: 0s;
    animation-duration: 3s;
}

@keyframes moveright2{
    from{left: 300px;}
}

.page2-2 .banana{
    position: relative;
    z-index: 2;
    transform: rotate(40deg);

    left: 240px;
    top: -190px;

    animation-name: banana;
    animation-delay: 0s;
    animation-duration: 3s;
}

@keyframes banana{
    from{top: 0; opacity: 0; width: 5%;}
}

.page2-2 .apple{
    position: relative;
    z-index: 2;
    transform: rotate(-40deg);

    top: -120px;
    right: 90px;

    animation-name: apple;
    animation-delay: 0s;
    animation-duration: 3s;
}

@keyframes apple{
    from{top: 0; top:200; opacity: 0; width: 5%;}
}

.page2-2 .can{
    position: relative;
    padding-left: 85px;
    margin-top: -100px;
}

.page2-2  .buttons-p2{
    width: 210%;
    display: flex;
    justify-content: space-evenly;
    position: relative;

    
}

