.page2 {
    width: 375px;
    height: 812px;
    background-color: #FDF3CD; 
    display:none;
}

.page2 .container{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.page2 .lid{
    padding-left: 20px;
    padding-top: 200px;

}

.page2 .trash-button{
    position: relative;
    z-index: 1;

    color: white;
    font-family: sans-serif;
    font-weight: bold;
    font-size: 20px;

    left: 10px;
    
}

.page2 .can{
    position: relative;
    padding-left: 23px;
    margin-top: -30px;
}

.page2 .buttons-p2{
    width: 167%;
    display: flex;
    justify-content: space-evenly;
    align-content: flex-end;
    margin-top: 71px;
}

