
.page9-1 {
    width: 375px;
    height: 1500px;
    background-color:#FDF3CD;
    display:flex;
    justify-content:center;
    align-items: center;
    flex-direction: column;

    display: none;
    
}

.page9-1 .container9{
    margin-top: -270px;
}

.page9-1 .header-p9{
    margin-top: 0px;
}

.page9-1 .description{
    font-size: 24px;
    font-weight: bold;
    justify-content: center;
    text-align: center;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: #522E05;
    margin-top: 30px;
}

.page9-1 .touchofabutton{
    margin-left:90px;
    margin-top:10px;
    font-weight: bold;
}

.page9-1 .helpusers{
    font-size: 22px;
    font-weight: bold;
    justify-content: center;
    text-align: center;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: #522E05;
    margin-top: 40px;
}

.page9-1 .createvisual {
    margin-left:40px;
    margin-top:40px;
    font-weight: bold;
}

.page9-1 .makerecipiesoutof{
    font-size: 22px;
    font-weight: bold;
    justify-content: center;
    text-align: center;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: #522E05;
    padding-left: 20px;
    padding-right: 20px;
    margin-top: 40px;
    margin-left:90px;
}

.page9-1 .intheend {
    font-size: 24px;
    font-weight: bold;
    justify-content: center;
    text-align: center;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: #522E05;
    margin-top: 30px;
}
.page9-1 .cleantablewillgiveusers{
    margin-top: 30px;
    font-weight: bold;
    left: -100px;
}

.page9-1 .backbutton {
   margin-top:50px;
   position: relative;
   left: 10px;
}

.page9-1 .footer {
    margin-top: 10px;
}
    
.page9-1 .phoneicon{
    height: 30px;
    position:relative;
    left:-30px;
    top: 65px;
}