.page3{
    width: 375px;
    height: 812px;    
    background-color: #FDF3CD;
    display: none;
}

.page3 .container3{
    display: flex;
    justify-content: center;
    align-items: center;
}

.page3 .textBubblePage3-1{
    display: flex;
    justify-content: center;
    align-items: center;
}

.page3 .buttons-p3{
    width: 170%;
    display: flex;
    justify-content: space-evenly;
    align-content: flex-end;
    
    margin-top: 70px;
}
