.page3{
    width: 375px;
    height: 812px;    
    background-color: #FDF3CD;
    display: none;
}

.page3 .textBubblePage3-1{
    display: flex;
    justify-content: center;
    align-items: center;
}