.page5{
    width: 375px;
    height: 812px;
    background-color: #FDF3CD;
    display: flex;
}

.page5 .pic{
    height: 145px;
    width: 157px;
    border-radius: 0px;
    position: absolute;
    width: 157px;
    height: 145px;
    left: 570px;
    top: -4px;
}