.page5-2{
    width: 375px;
    height: 812px;
    background-color: #FDF3CD;
    display: none;
}


.page5-2 .container5{
    display: flex;
    flex-direction: column;
}


.page5-2 .pic{
display: flex;
width: 157px;
height: 145px;
left: 153px;
top: 3px;
}


.page5-2 .sun-and-cloud{
    display: flex;
    width: 352px;
    height: 126px;
    left: 10px;
    top: 205px
}

.page5-2 .flying-bird{
   display: flex;
width: 219px;
height: 191px;
left: 63px;
top: 334px;
}

.page5-2 .landfill{
    display: flex;
    Width:272px;
    Height:153.9px;
    Top:583.55px;
    Left:124px;
}

.page5-2 .textt{
    display: flex;
width: 139px;
height: 47px;
left: 29px;
top: 260px;

font-family: Roboto;
font-style: normal;
font-weight: bold;
font-size: 12px;
line-height: 14px;
text-align: center;

color: #755F46;
}

