.page5-2{
    width: 375px;
    height: 812px;
    background-color: #FDF3CD;
    display: none;
}

.page5-2 .container5{
    flex-direction: column;
    display: flex;
    justify-content:center;
    flex-direction: column;
}

.page5-2 .thinking-image{
    width: 150px;
    left: auto;
    right: auto;
    margin-left: 35%
}

.page5-2 .SubHeaderPage5-2{
    margin-top: -10px;
    margin-left: 20px;
}

.page5-2 .TextBlubblePage5-2{
position: relative;
top: 50px;
left: 100px;
}

.page5-2 .textt{
position: relative;
width: 177.45px;
height: 137.65px;
left: 125px;
top: 120px;
font-family: sans-serif;
font-style: normal;
font-weight: bold;
font-size: 16px;
text-align: center;
color: #4E4841;
z-index:2;
}

.page5-2 .landfill{
    width: 350px;
    height: 200px;
    left: auto;
    right:auto;
    margin-top: -120px;
    z-index: 1;
}

.page5-2 .ButtonPage5-2{
    width: 170%;
    display: flex;
    justify-content: space-evenly;
    margin-left: -130px;
    margin-top: 300px;
}
