.page5-1{
    width: 375px;
    height: 812px;
    background-color: #FDF3CD;
}

.page5-1 .pic{
    position: absolute;
width: 157px;
height: 145px;
left: 153px;
top: 3px;
}

.SubHeaderPage5{
width: 157px;
height: 145px;
left: 155px;
top: -4px;
}

.page5-1 .sun-and-cloud{
    position: absolute;
    width: 352px;
    height: 126px;
    left: 10px;
    top: 205px
}

.page5-1 .call-to-action{
position: absolute;
width: 46px;
height: 46px;
left: 210px;
top: 448px;

font-family: Roboto;
font-style: normal;
font-weight: bold;
font-size: 20px;
line-height: 23px;
text-align: center;

color: #FFFFFF;
z-index: 2;
}

.page5-1 .flying-bird{
    position: absolute;
width: 219px;
height: 191px;
left: 63px;
top: 334px;
z-index: 1;
}

.page5-1 .green-land{
position: absolute;
width: 375px;
height: 181px;
left: 8px;
top: 555px;
}

.page5-1 .text{
position: absolute;
width: 139px;
height: 47px;
left: 29px;
top: 260px;

font-family: Roboto;
font-style: normal;
font-weight: bold;
font-size: 12px;
line-height: 14px;
text-align: center;

color: #755F46;
}

.page5-1 .Backbutton-Page-5-1{
    width: 170;
    display: flex;
    justify-content: center;
    align-content: flex-end;
    margin-top: 70px;

}