.page5-2{
    width: 375px;
    height: 812px;
    background-color: #FDF3CD;
    display: flex;
    justify-content:center;
}

.page5-2 .container5{
flex-direction: column;
display: flex;
justify-content:center;
flex-direction: column;
}

.page5-2 .thinking-image{
    width: 150px;
    left: auto;
    right: auto;
    margin-left: 35%
}

.page5-2 .TextBlubble-Page5-2{
    position: relative;
    top: -106px;
    right: 42px;
    font-weight: bold;
    }
.page5-2 .landfill{
    display: flex;
    Width:200px;
    Height:370px;
    Top:583.55px;
}

.page5-2 .textt{
width: 313px;
height: 93px;
left: 31px;
top: 240px;
font-family: Roboto;
font-style: normal;
font-weight: bold;
font-size: 18px;
line-height: 21px;
text-align: center;
color: #4E4841;
}

.page5 .Backbutton-Page5-2{
    width: 170%;
    display: flex;
    justify-content: space-evenly;
    
    margin-left: -130px;
    margin-top: 300px;
}
