.page5-1{
    width: 375px;
    height: 812px;
    background-color: #FDF3CD;
    display: none;
}


.page5-1 .container5{
    display: flex;
    flex-direction: column;
}

.page5-1 .thinking-image{
    width: 150px;
    left: auto;
    right: auto;
    margin-left: 35%
}

.page5-1 .subheaderpage5{
    margin-left: 15px;
    margin-top: -10px;
}

.page5-1 .bubble-5-1{
    margin-top: 10px;
}

.page5-1 .sun-and-cloud{

    width: 352px;
    height: 126px;

}

.page5-1 .flying-bird{

width: 219px;
height: 191px;
left: 63px;
top: 334px;
}

.page5-1 .green-land{
width: 375px;
height: 181px;
left: 8px;
top: 200px;
}

.page5-1 .hill{
    top: -500px;
}

.page5-1 .text{
width: 139px;
height: 47px;
font-family: sans-serif;
font-style: normal;
font-weight: bold;
font-size: 12px;
line-height: 14px;
text-align: center;
color: #755F46;

z-index: 1;
position: relative;
top: -270px;
left: 25px;
}

.page5 .buttons-p5{
    width: 200%;
    display: flex;
    justify-content: space-evenly;
    margin-top: 100px;
}
