html, body {
    margin:0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.page6-2 {
    width: 375px;
    height: 812px;   
    background-color: #FDF3CD;
    
}

.page6-2 .top-pie {
    width: 600px;
    position: relative;
    top: -996px;
    right: 70px;
}

.page6-2 .bot-pie {
    width: 600px;
    position: relative;
    bottom: 150px;
    right: 80px;
}

.page6-2 .percent {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    bottom:1450px;
    
}

.page6-2 .road{
    position: relative;
    top: -1020px;

}

.page6-2 .truck{
    position: relative;
    width: 150px;
    top: -1180px;
    right: -100px;
    z-index: 1;
    

}

.page6-2 .backnext{
        width: 180%;
        display: flex;
        justify-content: space-evenly;
        align-content: flex-end;
        
        position: relative;
        top:-20px;
        left: -120px;
        top:-30px;
        left: -150px;
    }
}
