.page8{
    background-color: #FDF3CD;
    width: 375px;
    height: 812px;
    display: none;
}

.page8 .headerpage8{
    flex-grow: 1;
}

.page8 .container8{
    display: flex;
    justify-content: center;
    align-items: center;

    left: 500px;
}


.page8 .buttons-p8{
    width: 500px;
    display: flex;
    justify-content: space-between;
    position: relative;

    left: -350px;
    top: 360px;
}

