.page8{
    background-color: #FDF3CD;
    width: 375px;
    height: 804px;
}

.page8 .container8{
    display: flex;
    flex-direction: column;
    align-items: center;

    padding: 50px;
}

.page8 .tip1{
    margin: padding: 10px;
}