html, body {
    margin: 0;
    display: flex;
    justify-content: center;
}

.content{
    align-items: center;
}

.page1 {
    width: 375px;
    height: 812px;
    background-color:#FDF3CD;
}

.page1 .cleantable {
    font-size: 30px;
    color: #522E05;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    text-align: center;
    font-weight: bold;
}

.page1 .presents {
    font-size: 18px;
    color: #522E05;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    text-align: center;
    font-weight:regular;
}

.page1 .theimpactof {
    font-size: 24px;
    color: #522E05;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    text-align: center;
    font-weight: light;
}

.page1 .foodwastetitle {
    font-size: 30px;
    color: #522E05;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    text-align: center;
    font-weight: bold;
    
}

.page1 .createdby {
    font-size: 14px;
    color: #522E05;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    text-align: center;
    font-weight: light;
    margin-top: 140px;
}

.page1 .cleantablelogo {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 100px;
}

.page1 .startbutton{
    display: flex;
    justify-content: center;
    align-items: center;
<<<<<<< HEAD
    font-weight: lighter;
    margin-top: 70px;
}
=======

}
>>>>>>> 63af2207de09059e0c5e239a198030af55d82ea2
