.page7-1{
    width: 375px;
    height: 812px;   
    background-color: #FDF3CD;
    display: none;
}

.page7-1 .container7-1{
    display: flex;
    justify-content: center;
    align-items: center;
}

.page7-1 .tower{
    position: relative;
    width: 418px;
    height: 665px;
    left: 10px;
    top: 600px;
}

.page7-1 .textbubble7-1{
    position:fixed;
    width: 375px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: -100px;
}

.page7-1 .buttons-p7-1{
    width: 325px;
    display: flex;
    justify-content: space-between;
    position: relative;
    left: -393px;
    top: 370px;
}
