.page7-1{
    width: 375px;
    height: 812px;   
    background-color: #FDF3CD;
    display: none;
}

.page7-1 .container7-1{
    display: flex;
    justify-content: center;
    align-items: center;
}

.page7-1 .tower{
    overflow: hidden;
    position: relative;
    width: 418px;
    height: 665px;
    left: -11px;
    top: 670px;
}

.page7-1 .buttons-p7-1{
    width: 170%;
    display: flex;
    justify-content: space-evenly;
    position: relative;
    left: -138px;
}
